# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
*.spec

# IDE / editor
.vscode/.ropeproject/
.idea/
*.sublime-project
*.sublime-workspace

# Logs & OS junk
*.log
.DS_Store
Thumbs.db

# Space Haven
logs.txt
spacehaven-modloader.spec
previous_spacehaven_path.txt
quicklaunch_*.jar
quicklaunch_*/
_quicklaunch_*.jar
extra_mods_path.txt

# Other
*.patch
*.orig
*.rej