altgraph==0.17.4
argparse==1.4.0
cabarchive==0.2.4
cx-freeze==8.3.0
cx-logging==3.2.1
filelock==3.19.1
lief==0.16.5
linecache2==1.0.0
lxml==5.4.0
nose==1.3.7
packaging==25.0
pefile==2023.2.7
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.8
pypng==0.0.20
pywin32-ctypes==0.2.3
rectpack==0.2.1
six==1.17.0
striprtf==0.0.29
traceback2==1.4.0
unittest2==1.1.0
vdf==3.4
zipfile39==0.0.8.0
